extends layout

block content
    h1 About Us
    p
     | Simple Computer Repair offers free diagnosis and flat rate repair. We fix all computer models and handle everything from virus removal to computer backups. Forgotten password, slow computer, or setting up a new printer, we do it all. Come down today for a free diagnosis and get your computer repaired by the experts.