extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | If you are having a problems with you computer or need help tring to understand you device(s). We are here to help with any of your electronic problems. Our Main goal is to make a happy computer or electronic experence.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      // Example row of columns
      .row
        .col-md-4
          h2 Eletronic Lessons
          p
            | BBNB offers convenient on site classes to fit your schedule to help you understand any device you are having issue understanding.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Computer Repair
          p
            | Full service computer repair done the right way! We service laptops and desktops.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Electronic Recycling
          p
            | Don't let your old electronics end up in the landfill. We recycle old computer components.
          p
            a.btn.btn-default(href='#', role='button') View details »
